<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <script src="https://kit.fontawesome.com/95f2ce0fc1.js" crossorigin="anonymous"></script>
  <title>About</title>
</head>

<body>
  {{>header}}

  {{!-- <section id="about-content">
    <div class="about-info">
      <div class="upper">
        <img src="./img/profile.jpg" alt="">
      </div>
      <div class="bellow">
        <p class="py-3">Welcome</p>
        <p class="py-1">My name is Leandro Machado</p>
        <p class="py-1">I hope you enjoy the app &#128522</p>
      </div>
    </div>
  </section> --}}

  {{>footer}}
</body>

</html>