<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <script src="https://kit.fontawesome.com/95f2ce0fc1.js" crossorigin="anonymous"></script>
  <title>About</title>
</head>

<body>
  {{>header}}

  <main>
    <section id="about">
      <div class="about-container">
        <div class="profile">
          <img src="./img/profile.jpg" alt="">
        </div>
        <div class="about-info">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, numquam tenetur alias id
            eligendi veritatis dicta saepe doloremque ratione, architecto iusto, minima maxime voluptatem doloribus.
            Quae non animi quasi nesciunt? Deleniti ipsum dolorum vero, fugit autem ex sunt aut debitis nemo placeat,
            voluptatum aspernatur facilis quo accusamus, esse natus.</p>
        </div>
      </div>
    </section>
  </main>



  {{>footer}}
</body>

</html>