<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <script src="https://kit.fontawesome.com/95f2ce0fc1.js" crossorigin="anonymous"></script>
  <title>Weather App</title>
</head>
<body>
  {{>header}}

  <section id="weather-content">
    <div class="content-left">
      <h1>20°</h1>
    </div>
    <div class="content-right">
      <img src="./img/favicon.png" alt="weather icon">
    </div>
  </section>

  <div class="clr"></div>

  <section id="location-content">
    <div class="container">
      <div class="location-info">
        <p class="py-3">Surrey, British Columbia</p>
        <p class="py-3">dd/mm/yyyy</p>
      </div>
      <div class="form-content py-3">
        <form action="">
          <div class="form-group py-2">
            <label for="city">City</label>
            <input type="text" name="city" id="city">
          </div>
          <div class="form-group py-3">
            <label for="country">Country</label>
            <input type="text" name="country" id="country">
          </div>  
          <button type="submit" class="btn">Search</button>
        </form>
      </div>
    </div>
  </section>

  {{>footer}}
</body>
</html>