<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <script src="https://kit.fontawesome.com/95f2ce0fc1.js" crossorigin="anonymous"></script>
  <title>Weather App</title>
</head>
<body>
  {{>header}}

  <section id="weather-content" class="py-1">
    <div class="content-left">
      <h1>20°</h1>
    </div>
    <div class="content-right">
    </div>
  </section>

  {{>footer}}
</body>
</html>