<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <script src="https://kit.fontawesome.com/95f2ce0fc1.js" crossorigin="anonymous"></script>
  <title>Weather App</title>
</head>
<body>
  <header>
    <nav id="navbar">
      <div class="container">
        <h1><a href="/"><i class="fab fa-weebly"></i></a></h1>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <section id="weather-content">

  </section>

  <footer id="main-footer">
    <div class="container">
      <p>All Rights Not Reserved &copy;</p>
    </div>
  </footer>
</body>
</html>