<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <title>Weather App</title>
</head>
<body>
  {{>header}}
  {{!-- <div class="main-content">
    <form action="">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" name="city" id="city">
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" name="country" id="country">
      </div>
    </form>
  </div> --}}
  {{>footer}}
</body>
</html>