<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <script src="https://kit.fontawesome.com/95f2ce0fc1.js" crossorigin="anonymous"></script>
  <title>Weather App</title>
</head>

<body id="home">
  {{>header}}

  <main>
    <section id="weather">
      <div class="weather-container">
        <div class="weather-grid">
          <div class="data">
            <p id="displayTemperature"></p>
          </div>
          <div>
            <img src="" alt="" id="displayIcon">
          </div>
          <div class="info">
            <form>
              <div class="form-group">
                <label for="city"></label>
                <input type="text" name="city" id="city" placeholder="Enter city name">
              </div>
              <div class="form-group">
                <label for="country"></label>
                <input type="text" name="country" id="country" placeholder="Enter country name">
              </div>
            </form>
            <input type="submit" id="searchBtn">
          </div>
          <div class="location-info">
            <p id="displayLocation"></p>
            <p id="displayDate"></p>
          </div>
        </div>

      </div>
    </section>
  </main>

  {{!-- <main>
    <section id="weather">
      <div class="weather-container">
        <div class="data">
          <p id="displayTemperature">20°</p>
        </div>
        <div class="icon">
          <img src="./img/favicon.png" alt="" id="displayIcon">
        </div>
        <div class="info">
          <form>
            <div class="form-group">
              <label for="city"></label>
              <input type="text" name="city" id="city" placeholder="Enter city name">
            </div>
            <div class="form-group">
              <label for="country"></label>
              <input type="text" name="country" id="country" placeholder="Enter country name">
            </div>
          </form>
          <a href="" class="btn btn-prymary">Search</a>
        </div>
      </div>
    </section>
  </main> --}}

  {{!-- <section id="weather-content">
    <div class="content-left">
      <p id="displayTemperature"></p>
    </div>
    <div class="content-right">
      <img src="" alt="weather icon" id="displayIcon">
    </div>
  </section>

  <section id="location-content">
    <div class="container">
      <div class="location-info">
        <p class="py-3" id="displayLocation"></p>
        <p class="py-3" id="displayDate"></p>
      </div>
      <div class="form-content py-3">
        <form action="">
          <div class="form-group py-2">
            <label for="city">City</label>
            <input type="text" name="city" id="city">
          </div>
          <div class="form-group py-3">
            <label for="country">Country</label>
            <input type="text" name="country" id="country">
          </div>  
          <button type="button" class="btn" id="searchBtn">Search</button>
        </form>
      </div>
    </div>
  </section> --}}

  {{>footer}}
  <script src="./js/app.js"></script>
</body>

</html>