<header>
  <div class="container">
    <nav class="main-navbar">
      <div>
        <h1 class="logo"><a href="/"><i class="fab fa-weebly fa-2x"></i></a></h1>
      </div>
      <ul>
        <li><a href="/" class="{{homeTag}}">Home</a></li>
        <li><a href="/about" class="{{aboutTag}}">About</a></li>
      </ul>
    </nav>
  </div>
</header>