<header>
  <nav id="navbar">
    <div class="container">
      <h1><a href="/"><i class="fab fa-weebly"></i></a></h1>
      <ul>
        <li><a href="/about" class="{{aboutTag}}">About</a></li>
        <li><a href="/contact" class="{{contactTag}}">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>