/* Global variables */
:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --dark-color: #333;
  --light-color: #f3f3f3;
  --max-width: 1100px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

/* Utilities */
.container {
  margin: auto;
  max-width: var(--max-width);
  /* overflow: auto; */
  padding: 0 20px;
}

/* Header */
header {
  background-color: var(--dark-color);
}

/* Navbar */
.main-navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 1rem;
}

.main-navbar .logo i {
  /* padding: .5rem; */
  color: #fff;
  cursor: pointer;
}

.main-navbar ul {
  list-style: none;
  display: flex;
  justify-self: end;
}

.main-navbar ul li a {
  color: #fff;
  padding: 1rem;
}

.main-navbar ul li a.current {
    background-color: var(--primary-color);  
}

.main-navbar ul li a:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* Weather */
#weather .weather-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;  
  max-width: 768px;
  margin: auto;
} 

#weather .weather-container > div {
  /* background-color: var(--light-color); */
  /* height: 100%;
  width: 100%; */
}

#weather .icon img {
  width: 100%;
  height: 100%;
}

#weather .temperature {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#weather .temperature i {
  display: flex;
  flex-direction: row;
}

#weather .temperature h1 {
  font-size: 65px;
  margin-left: .5rem;
  margin-top: .5rem;
}

#weather .info {
  grid-column: 1 / span 3;
}

#weather .info input[type='text'] {
  padding: .55rem 1rem;  
  margin-top: .75rem;
  outline: none;
}

#weather .info input[type='submit'] {
  display: inline-block;
  padding: .75rem 1.5rem;  
  margin-top: .75rem;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer; 
}

#weather .info input[type='submit']:hover {
  opacity: 0.8;
}

/* About */
#about .about-container {
  /* display: grid;
  grid-template-rows:  repeat(1, 1fr); */
}

#about .about-container .profile {
}

#about .about-container .profile img {
  display: block;
  width: 200px;
  margin: auto;
  padding-top: 70px;
}

#about .about-container .about-info {
  text-align: justify;
  padding: 2rem;
}



/* Footer */
.main-footer {
  background-color: var(--dark-color);
  color: #fff;
  display: grid;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 140px;
}

.main-footer > div {
  text-align: center;
  padding: 1rem;
}

.main-footer .social {
  padding-top: 1.5rem;
}

.main-footer .social a {
  margin-left: .5rem;
  color: #fff;
}

.main-navbar .logo i:hover,
.main-footer .social a:hover {
  color: var(--primary-color);
}


