/* Global variables */
:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --dark-color: #333;
  --light-color: #f3f3f3;
  --max-width: 1100px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

/* Utilities */
.container {
  margin: auto;
  max-width: var(--max-width);
  /* overflow: auto; */
  padding: 0 20px;
}

/* Header */
header {
  background-color: var(--dark-color);
}

/* Navbar */
.main-navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 1rem;
}

.main-navbar .logo i {
  /* padding: .5rem; */
  color: #fff;
  cursor: pointer;
}

.main-navbar ul {
  list-style: none;
  display: flex;
  justify-self: end;
}

.main-navbar ul li a {
  color: #fff;
  padding: 1rem;
}

.main-navbar ul li a.current {
    background-color: var(--primary-color);  
}

.main-navbar ul li a:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* Weather */
#weather .weather-container {
  max-width: 768px;
  margin: auto;
  /* background-color: #f99500; */
  /* height: 100vh; */
}

#weather .weather-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  /* align-items: center; */
  text-align: center;
}

#weather .weather-grid > div {
  margin-top: 1rem;  
  background-color: #f99500;
  color: #333;
  height: 200px;
}

#weather .weather-grid > div:nth-child(2) {
  margin-top: 1rem;  
  background-color: #fff;
  color: #333;
}

#weather .weather-grid > div:last-child {
  grid-column: 1 /span 3;
}

#weather .weather-grid img {
  display: block;  
  width: 200px;
  margin: auto;
}

#weather .weather-grid .data {
  font-size: 60px;
  padding-top: 80px;
}

#weather .weather-grid .info {
  padding-top: 40px;
}

#weather .weather-grid .info input[type='text'] {
  margin-top: .5rem;
  height: 30px;
  width: 90%;
}

#weather .weather-grid .info input[type='submit'] {
  cursor: pointer;
  margin-top: .5rem;
  padding: .5rem 1rem;
  width: 90%;
}

#weather .weather-grid .info input[type='submit'] {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  margin-top: .5rem;
  padding: .5rem 1rem;
  width: 90%;
  border: none;
  border-radius: 5px;
}

#weather .weather-grid .info input[type='submit']:hover {
  opacity: 0.9;
}

#weather .weather-grid .location-info {
  padding-top: 20px;
  height: 200px;
}

#weather .weather-grid .location-info p {
  font-size: 30px;
  font-weight: 400;
  padding: 20px;
}





/* #weather .weather-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .3rem;  
  padding: .5rem 1rem;
  height: 100vh;
  max-width: 768px;
  margin: auto;
}

#weather .weather-container > div {
  text-align: center;
  background-color: var(--light-color);
}

#weather .weather-container > div:first-child {
  text-align: center;
}

#weather .weather-container img {
  display: block;
  margin: auto;
  width: 200px; 
}

#weather .weather-container .data {
  display: block;
  margin: auto;
  background-color: #fff;
  width: 100%;
  font-size: 70px;
  font-weight: 400;
}

#weather .weather-container > div:last-child {
  grid-column: 1 / span 2;
}

#weather .weather-container .info {
  text-align: center;
  padding: .5rem 0;
} */

/* Footer */
.main-footer {
  background-color: var(--dark-color);
  color: #fff;
  display: grid;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 140px;
}

.main-footer > div {
  text-align: center;
  padding: 1rem;
}

.main-footer .social {
  padding-top: 1.5rem;
}

.main-footer .social a {
  margin-left: .5rem;
  color: #fff;
}

.main-navbar .logo i:hover,
.main-footer .social a:hover {
  color: var(--primary-color);
}


